@import url('https://fonts.googleapis.com/css?family=Orbitron|Space+Mono');

/* GENERAL */

html {
  height: 100%;
  width: auto;
}

body {
  height: 100%;
  width : 100%;
  /*background: #FFFFE4;*/
  /*background-image: url(../img/fond3.png);*/
  /*background-color: rgba(0, 0, 0, 1);*/
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  text-align: center;
}

h2 {
  font-family: monospace;
  color : darkgrey;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

h3 {
  font-family: 'Space Mono', monospace;
  color : white;
  margin-top: 0.5em;
  display: inline-block;
}

h5 {
  font-family: monospace;
  color : darkgrey;
  text-align: center;
  font-size: 20px;
}

table {
  width: 100%;
}

td {
  font-family: monospace;
  padding : 3px;
  font-size: 15px;
  text-align: center;
}

th {
  font-family: monospace;
  font-size: 21px;
  margin-bottom: 8px;
  text-align: center;
  padding-bottom: 15px;
}

.container-fluid {
  padding : 0;
  margin : 0;
}

.allContent {
  /*height: 100%;*/
}

.center {
  text-align: center;
}

.hide2 {
  display: none;
}

/* -------------------------------------------------------------------------- */
/* BARRE DE MENU; */
.navbar a {
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-size: 15px;
  color: white;
  padding : 2em;
  transition: color 1s;
  transition: background-color 1s;
}

.navbar {
  background-color: rgb(21, 138, 138);
  border-radius: 0;
  border: none;
}

.menu {
margin: 30px;
float: right;
text-align: right;
}

.navbar-nav a:hover {
    color: rgb(21, 138, 138);
    background-color: white;
}

.logo {
  background-color: white;
  border-radius: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(100, 178, 137);
}

.navbar-default .navbar-toggle {
  border-color: rgb(100, 178, 137);
}

.navbar .navbar-collapse {
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* HOME */

.barreEmailInscription {
width: 31em;
height: 9em;
background-color: rgb(100, 178, 137);
padding : 1em;
margin : 6em;
border-radius: 1em;
margin-left: auto;
margin-right: auto;
}

.check {
float: right;
margin-right: 10px;
}


.inscripAssos {
display: inline-block;;
width: 18em;
}

.AdresseMail {
  display: flex;
  justify-content: space-between;
}


.infographieDiv {
  text-align: center;
  margin-top: 3em;
}

.explications {
font-size: 12px;
color : white;
font-family: monospace;
padding : 2em;
background-color: rgb(21, 138, 138);
}

.texteExplicatif {

  color : #1C1C1C;
  font-family: monospace;
  text-align: center;
  margin-top : 20px;
  margin-bottom: 100px;

}

.thumbnail {
  border: none;
}


/* -------------------------------------------------------------------------- */
/* MESSAGERIE */

.extansion-head {
  background-color: rgb(21, 138, 138);
  height: 150px;
  margin-top: -20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.70);
}

.block{
  box-shadow: 0 3px 6px rgba(0,0,0,0.46), 0 3px 6px rgba(0,0,0,0.50);
  margin-top: 1em;
  background-color: #F5F5F5;
  padding: 1em;
}

.block-message {
  margin-top: -150px;
  margin-bottom: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.46), 0 3px 6px rgba(0,0,0,0.50);
}
.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  font-size: 18px;
  line-height: 1.33;
  margin-left: 1em;
}

.fa {
font-size: 2em;
}

.sendMessage {
  margin-top: 110px;
  position: absolute;
}

/* INSCRIPTIONS et CONNEXION*/
.formulaire h2{
color :  rgb(100, 178, 137);
background-color: #FFFFE4;
border-radius: 20px;}


.formulaire a {
color : white;

}
 .acceptCGU {
color : white;
}

/*-------------------------------------------------------------------------*/
/* FOOTER: */

.lienFooter {

padding : 20px;
text-align: center;
width: 100%;
font-size: 10px;
color :rgb(21, 138, 138);
background-color: rgb(100, 178, 137);
}

.lienUtiles, .lienReseaux, .lienRedirectionSite {
color : rgb(21, 138, 138);
}

.lienReseaux {
  margin-right: 1em;
}
.lienFooter a {
color : white;
}
.errorMessage {
  color: red;
}

/*-------------------------------------------------------------------------*/
/* ERROR 404 403 : */

.wError h1 {
  font-size: 6em;
  margin-bottom: 50px;
  color: rgb(21, 138, 138);
  font-family: 'Orbitron';
}

.wError p {
  text-align: center;
  color: #555;
  font-size: 1.5em;
}
