@import url('https://fonts.googleapis.com/css?family=Orbitron|Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* GENERAL */

html {
  height: 100%;
  width: auto;
}

body {
  height: 100%;
  width : 100%;
  /*background: #FFFFE4;*/
  background-image: url(../img/fond3.png);
  /*background-color: rgba(0, 0, 0, 1);*/
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  text-align: center;
}

h2 {
  font-family: monospace;
  color : darkgrey;
  text-align: center;
  margin-bottom: 2em;
}

h3 {
  font-family: 'Space Mono', monospace;
  color : white;
  margin-top: 0.5em;
  display: inline-block;
}

h5 {
  font-family: monospace;
  color : darkgrey;
  text-align: center;
  font-size: 20px;
}

table {
  width: 100%;
}

td {
  font-family: monospace;
  padding : 3px;
  font-size: 15px;
}

th {
  font-family: monospace;
  font-size: 21px;
  margin-bottom: 8px;
}

.container-fluid {
  padding : 0;
  margin : 0;
}

.allContent {
  min-height: 42.8em;
  max-width: 1920px;
  margin: auto;
  position: relative;
  top: -10.5em;
}

.center {
  text-align: center;
}

.hide2 {
  display: none;
}

.flash p {
  text-align: center;
  margin: 0 0 0 0;
  font-size: 1.5em;
  background-color: rgb(21, 138, 138);
  color: white;
  z-index: 1;
}

.wrap {
  /*height: 100%;*/
  max-width: 1920px;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/* FORM; */



.field {
  position: relative;
  height: 72px;
  padding: 16px 0 8px 0;
  font-family: 'Roboto', sans-serif;
}

.field::after {
  content: '';
  height: 2px;
  background-color: #e7e7e7;
  width: 100%;
  position: absolute;
  bottom: 16px;
  left: 0;
  transform: scale(1);
  transition: 0.5s;
}

.field.formbar::after{
  height: 2px;
  background-color: rgb(100, 178, 137);
  width: 100%;
  position: absolute;
  bottom: 16px;
  left: 0;
  transform: scale(1);
}

.field-label {
  position: relative;
  line-height: 16px;
  color: black;
  font-size: 1em;
  font-weight: 400;
  display: block;
  margin: 0;
  transform: translateY(1.5em) scale(0.75);
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%;
}

.field-input {
  position: relative;
  background-color: transparent;
  line-height: 16px;
  padding: 8px 0;
  border: none;
  display: block;
  width: 100%;
  height: 1.5em;
  font-size: 1.5sem;
  outline: none;
}

.is-focused .field-label {
  transform: translateY(0);
  font-size: 1em;
  color: rgb(100, 178, 137);
}

/* -------------------------------------------------------------------------- */
/* BARRE DE MENU; */
.navbar a {
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-size: 15px;
  color: white;
  padding : 2em;
  transition: color 1s;
  transition: background-color 1s;
  z-index: 1;
}

.navbar {
  background-color: rgb(21, 138, 138);
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.70);

}

.menu {
  margin: 30px;
  float: right;
  text-align: right;
}

.navbar-nav a:hover {
    color: rgb(21, 138, 138);
    background-color: white;
}

.logo {
  background-color: white;
  border-radius: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(100, 178, 137);
}

.navbar-default .navbar-toggle {
  border-color: rgb(100, 178, 137);
  margin-right: 2em;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* HOME */

.barreEmailInscription {
width: 31em;
height: 9em;
background-color: rgb(100, 178, 137);
padding : 1em;
margin : 6em;
border-radius: 1em;
margin-left: auto;
margin-right: auto;
}

.accroche {
margin-top: 4em;
}

.check {
float: right;
margin-right: 10px;
}


.inscripAssos {
display: inline-block;;
width: 18em;
}

.AdresseMail {
  display: flex;
  justify-content: space-between;
}


.infographieDiv {
  text-align: center;
  margin-top: 3em;
}

.explications {
font-size: 12px;
color : white;
font-family: monospace;
padding : 2em;
background-color: rgb(21, 138, 138);
}

.texteExplicatif {

  color : #1C1C1C;
  font-family: monospace;
  text-align: center;
  margin-top : 20px;
  margin-bottom: 100px;

}

.thumbnail {
  border: none;
  background-color: transparent;
}


/* -------------------------------------------------------------------------- */
/* MESSAGERIE */

.extension_head {
  height: 150px;
  margin-top: 0px;
  width: 100%;
  z-index: -1;
}

.block{
  box-shadow: 0 3px 6px rgba(0,0,0,0.46), 0 3px 6px rgba(0,0,0,0.50);
  margin-top: 1em;
  background-color: #F5F5F5;
  padding: 1em;
}

.block-message {
  margin-top: 10px;
  margin-bottom: 50px;
}

.block-message-1 {
  height: 150px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.46), 0 3px 6px rgba(0,0,0,0.50);
}

.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  font-size: 18px;
  line-height: 1.33;
  margin-left: 5px;
}

.fa {
font-size: 2em;
}

.sendMessage {
  margin-top: 110px;
  position: absolute;
}

/* INSCRIPTIONS et CONNEXION*/
.formulaire h2{
  color :  rgb(100, 178, 137);
  background-color: #FFFFE4;
  border-radius: 20px;
}

.formulaire a {
  color : rgb(21, 138, 138);
}

 .acceptCGU {
  color : rgb(21, 138, 138);
}

/*-------------------------------------------------------------------------*/
/* FOOTER: */

.lienFooter {
  padding : 20px;
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto';
  color :rgb(21, 138, 138);
  background-color: rgb(100, 178, 137);
}

.lienUtiles, .lienReseaux, .lienRedirectionSite {
  color : rgb(21, 138, 138);
  text-align: center;
}

.lienReseaux {

}

.lienFooter a {
  color : white;
}
.errorMessage {
  color: red;
}

/*-------------------------------------------------------------------------*/
/* ERROR 404 403 : */

.wError h1 {
  font-size: 6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: rgb(21, 138, 138);
  font-family: 'Orbitron';
}

.wError p {
  text-align: center;
  color: #555;
  font-size: 1.5em;
}
